.form {
  display: block;
  width: 350px;
}
.button {
  margin-top: 10px;
}
.button:active {
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
}
.label {
  margin-top: 10px;
}
.label {
  display: block;
}
.input {
  display: block;
  /* border-radius: 5px; */
}
.input:focus {
  outline: 0;
  border-radius: 5px;
}
.input::-webkit-inner-spin-button {
  display: none;
}
